body{
  background: rgb(235,236,236);
}
.row{
  max-width: 1180px;
  margin: 0 auto;
}
section,footer{
  padding-top: 40px;
    padding-bottom: 40px;
}
section#form{
  margin-top: 80px;
}
section#form img{
  mix-blend-mode: multiply;
}
header{
  border-bottom: 1px solid rgb(215,214,213);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgb(235,236,236);
  z-index: 3;
}
select{
  width: 100%;
  height: 40px;
  background: none;
  border-radius: 2em;
  border: 1px solid #fff;
  background-color: #fff;
  background-color: #fff;
  text-align: center;

   background-image: none;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}
.ss-select,
.ss-required{
  position: relative;
}
.ss-select:after{
  display: block;
  content: "˅";
  font-family: monospace;
  width: 40px;
  height: 50px;
  font-size: 40px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 8px;
  color: rgb(70,103,255);
}
.ss-required:after{
  display: block;
  content: "●";
  font-family: monospace;
  width: 40px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  right: 0px;
  top: 0;
  color: rgb(241,90,41);
}
header div{
  padding-top: 5px;
  position: relative;
}
nav{
  padding: 20px;
}
nav a{
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(65,65,65);
  font-size: 18px;
}
nav a:hover{
  cursor: pointer;
  color: rgba(65,65,65, 0.5);
}
nav a.vk{
  color: rgb(54,74,254);
    border: 5px solid rgb(54,74,254);
    border-radius: 2em;
    padding: 10px;
    font-weight: 800;
    margin-left: 30px;
}
nav a.vk:hover{
  cursor: pointer;
  color: rgba(54,74,254, 0.5);
  border-color: rgba(54,74,254,0.5);
}
nav a:last-child{
  border: 5px solid rgb(235,67,31);
  border-radius: 2em;
  color: rgb(235,67,31);
  font-size: 18px;
  font-weight: 800;
  margin-left: 40px;
}
nav a:last-child:hover{
  color: rgba(235,67,31,0.5);
  border-color: rgba(235,67,31, 0.5);
}
.teacher{
  text-align: center;
}
.lesson {
  text-align: center;
}
.left-border{
  border-left: 1px solid rgb(213,213,213);
}
.bottom-border{
  border-bottom: 1px solid rgb(213,213,213);
}
.unslider-arrow.prev,
.unslider-arrow.next{
  font-size: 60px;
}
.lesson picture{
  margin: auto;
  height: 200px;
  display: flex;
}
.lesson picture img{
  margin: auto;
  display: block;
  vertical-align: middle;
}
.phonetag{
  position: fixed;
  background-image: url("../icons/ribbon.svg");
  width: 148px;
  height: 44px;
  right: 0;
  box-sizing: border-box;
  padding-top: 0;
  font-size: 18px;
  font-weight: 600;
}
.phonetag a{

}
.metro{
  border-radius: 2em;
  padding: 5px 10px;
  border-width: 5px;
  border-style: solid;
  display: inline-block;
}
.metro.m-blue{
  border-color: rgb(15,119,193);
}
.metro.m-orange{
  border-color: rgb(243,128,24);
}
.metro.m-red{
  border-color: rgb(229,0,28);
}
.metro.m-orange{
  border-color: rgb(243,128,24);
}
input[type=submit]{
  background-color: rgb(235,67,31);
  border-radius: 2em;
  border: 5px solid rgb(235,67,31);
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
text-align: center;
width: 10em;
margin: auto;
display: block;
font-weight: bold;
}
input[type=submit]:hover{
  background-color: rgb(235,67,31,0.5);
  border-color: rgb(235,67,31, 0.5);
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  }
.phone,.email{
  font-size: 1.3em;
  text-align: center;
}
.phonetag a{
  text-decoration: none;
  color: #fff;
  top: 7px;
  position: relative;
  left: 30px;
  font-size: 20px;
}
hr{
  border: 1px solid rgb(214,214,214);
}
/*FORM*/
input, select{
  width: 100%;
  border-radius: 2em;
  height: 50px;
  border-style: none;
  padding: 0 20px;
  box-sizing: border-box;
}


option:disabled
{
    color: #ccc;
}
/* HELPERS */
.text-center{
  text-align: center !important;
}
.bg-white{
  background: #fff !important;
}
.bg-lightgray{
  background: rgb(242,242,242) !important;
}
.mb40{
  margin-bottom: 40px !important;
}
.ib{
  display: inline-block !important;
}
