body{
  background: rgb(235,236,236);
}
.row{
  max-width: 1180px;
  margin: 0 auto;
}
section,footer{
  padding-top: 80px;
    padding-bottom: 40px;
}
section h2{
margin-top: 0;
}
section#form h2{
  padding-top: 20px;
}
section#form img{
  mix-blend-mode: multiply;
}
header{
  border-bottom: 1px solid rgb(215,214,213);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgb(235,236,236);
  z-index: 3;
}
select{
  width: 100%;
  height: 40px;
  background: none;
  border-radius: 2em;
  border: 1px solid #fff;
  background-color: #fff;
  text-align: center;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header div{
  padding-top: 5px;
  position: relative;
}
nav{
  padding: 20px;
}
nav a{
  text-decoration: none;
  padding: 9px 20px;
  color: rgb(65,65,65);
  font-size: 18px;
}
nav a:hover{
  cursor: pointer;
  color: rgba(65,65,65, 0.5);
}
nav a.vk{
  color: rgb(54,74,254);
    border: 4px solid rgb(54,74,254);
    border-radius: 2em;
    padding: 10px;
    font-weight: 600;
    margin-left: 10px;
}
nav a.vk:hover{
  cursor: pointer;
  color: rgba(54,74,254, 0.5);
  border-color: rgba(54,74,254,0.5);
}
nav a:last-child{
  border: 4px solid rgb(235,67,31);
  border-radius: 2em;
  color: rgb(235,67,31);
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}
nav a:last-child:hover{
  color: rgba(235,67,31,0.5);
  border-color: rgba(235,67,31, 0.5);
}
.teacher{
  text-align: center;
}
.lesson {
  text-align: center;
}
.lesson h3{
  font-weight: normal;
}

.unslider-arrow.prev,
.unslider-arrow.next{
  font-size: 60px;
}
.big-number{
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  margin:0 10px;
}
.cost{
  color: rgb(52,74,254);
  font-size: 20px;
}
.lesson picture{
  margin: auto;
  height: 200px;
  display: flex;
}
.lesson picture img{
  margin: auto;
  display: block;
  vertical-align: middle;
}
.phonetag{
  position: fixed;
  background-image: url("../icons/ribbon.svg");
  width: 148px;
  height: 44px;
  right: 0;
  top: 20px;
  box-sizing: border-box;
  padding-top: 0;
  font-size: 18px;
  font-weight: 600;
}
.location h3{
  margin: 0;
}
#vk_groups{
margin: 0 auto;
}
.metro{
  margin-bottom: 20px;
  border-radius: 2em;
  padding: 5px 10px;
  border-width: 5px;
  border-style: solid;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.metro.m-blue{
  border-color: rgb(15,119,193);
}
.metro.m-orange{
  border-color: rgb(243,128,24);
}
.metro.m-red{
  border-color: rgb(229,0,28);
}
.metro.m-orange{
  border-color: rgb(243,128,24);
}

.phone,.email{
  font-size: 1.3em;
  text-align: center;
}
.phonetag a{
  text-decoration: none;
  color: #fff;
  top: 7px;
  position: relative;
  left: 30px;
  font-size: 20px;
}
hr{
  border: 1px solid rgb(214,214,214);
}
/*FORM*/
.ss-select,
.ss-required{
  position: relative;
}
.ss-select:after{
  content: "˅";
  font-family: monospace;
  width: 40px;
  height: 50px;
  font-size: 40px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: -1px;
  color: rgb(70,103,255);
  z-index: 0;
}
.ss-required:after{
  display: block;
  content: "●";
  font-family: monospace;
  width: 40px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  position: absolute;
  right: 0px;
  top: 0;
  color: rgb(241,90,41);
}
input[type=submit]{
  background-color: rgb(235,67,31);
  border-radius: 2em;
  border: 5px solid rgb(235,67,31);
  color: #fff;
  font-size: 18px;
  padding: 5px 19px;
text-align: center;
width: auto;
margin: auto;
display: block;
font-weight: 600;
}
input[type=submit]:hover{
  background-color: rgb(235,67,31,0.5);
  border-color: rgb(235,67,31, 0.5);
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  }

input, select{
  width: 100%;
  border-radius: 2em;
  height: 50px;
  border-style: none;
  padding: 0 20px;
  box-sizing: border-box;
}
#form h2{
  color: rgb(52,74,254);
  font-weight: normal;
}

option:disabled
{
    color: #ccc;
}
/* HELPERS */

.text-center{
  text-align: center !important;
}
.bg-white{
  background: #fff !important;
}
.bg-lightgray{
  background: rgb(242,242,242) !important;
}
.bottom-blue{
  border-bottom: 4px solid rgb(53,74,254);
}
.bottom-red{
  border-bottom: 4px solid rgb(234,67,32);
}
.left-border{
  border-left: 1px solid rgb(213,213,213);
}
.right-border{
  border-right: 1px solid rgb(213,213,213);
}
.bottom-border{
  border-bottom: 1px solid rgb(213,213,213);
}
.mt20{
  margin-top: 20px !important;
}
.mb40{
  margin-bottom: 40px !important;
}
.ib{
  display: inline-block !important;
}
.muted{
  color: #999;
}
.vat{
  vertical-align: top !important;
}
.vam{
  vertical-align: middle !important;
}
